/*CSS Document*/

body{
    background-color: rgb(94, 99, 98);
    color:black;
    text-align: center;
    align-items: center;
    font-size: medium;
    margin:0 auto;
}

#BOX1{
    background-color: #000;
    color:#fff;
    padding:10px 10px;
}

#BOX2{background-color: #FFF;
    padding: 10px 10px;
}

#BOX3{
    background-color: rgb(205, 248, 11);
    color:#000;
    padding:10px 10px;    
}

h2{
    font-size: 95%; 
 }

#creditos{
    font-size:60%;
    text-align: center;
}

input{
    font-size:100%;
    width: 340px;
    height: 30px;
    text-align: center;   
}

BUTTON{
    background-color: black;
    color:white;
}